@model dynamic
@{
    ViewBag.Title = "Pass using ViewBag";
}

<h2>Pass Using view Bag</h2>
<dl class="dl-horizontal">
    <dd>@ViewBag.Addition</dd>
    <dd>@ViewBag.Substraction</dd>
    <dd>@ViewBag.Multiplication </dd>
    <dd>@ViewBag.Division</dd>
</dl>